{% extends "LoginApp/base.html" %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="card mx-auto" style="width: 18rem;">
      <img src="/media/{{user_more_info.profile_pic}}" class="card-img-top" alt="Profile Picture">
      <div class="card-body">
        <h5 class="card-title">{{user_basic_info.username}}</h5>
        <p class="card-text">{{user_basic_info.email}}</p>
        <a target="blank" href="{{user_more_info.facebook_id}}" class="btn btn-primary">Facebook</a>
      </div>
    </div>
  </div>
{% else %}
Please login  
{% endif %}

{% endblock body_block %}